body{background-image: url(https://cdn.pixabay.com/photo/2018/05/13/17/08/notebook-3397135__340.jpg);
background-repeat: no-repeat;
background-size: 1500px; }
div{text-align: center; size: 300px;}
div{background-color: lightgreen; opacity: 0.7;}